$body-bg: rgb(66, 167, 96);

@import "../node_modules/bootstrap/scss/bootstrap";



.navbar-collapse {
    justify-content: flex-end;
}




.nav-link active{
    color:blue;
}

.nav-link{
    color: blue;
}


.card{
    margin-left: 20%;
    width: 30%;
}


// aligning footer to bootom of screen
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;  
    background: #6cf;
}